.error {
    color: tomato;
}

.action-card-container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.action-card-container .card {
    transition: all 0.3s ease 0s;
    padding: 10px;
    display: block;
    position: relative;
    border-radius: .25rem;
    overflow: hidden !important;
    border: none;
    box-shadow: 1px 5px 9px 2px rgba(0, 0, 0, .2);
}

.action-card-container .card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
}

.card-img>object {
    position: absolute;
    right: 25px;
    top: 20px;
    opacity: 0.7;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-bottom a {
    text-decoration: none;
    background: rgba(32, 117, 97, .8);
    color: rgba(255, 255, 255, .8);
    padding: 2px;;
}

.list-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.list-table .card {
    transition: all 0.3s ease 0s;
}

.list-table .card:hover {
    transform: translateY(-5px);
}

.no-order {
    grid-column: 1 / span 2;
    height: calc(100vh - 220px);
}

.table-container {
    width: 100%;
    height: calc(100vh - 120px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.table-card {
    cursor: pointer;
    height: 100%;
    border-radius: 10px;
    position: relative;
    min-height: 70px;
    box-shadow: 5px 5px 8px rgba(34, 35, 58, 0.2);
    transition: all .3s;
}

.table-card.empty {
    background-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%);
}

.table-card.fill {
    background-image: linear-gradient(147deg, #ff852d 0%, #fd3838 74%);
}

.table-fix {
    table-layout: fixed;
}

.table-fix thead {
    display: block;
    width: 100%;
    border-bottom: 2px solid;
    border-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%) 1;
}

.table-fix tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 25.5rem);
}

.table-fix tfoot {
    display: block;
    width: 100%;
    border-top: 2px solid;
    border-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%) 1;
}

.table-fix tfoot td {
    border: none;
}

.table-fix td {
    padding: 10px 5px;
}

.table-fix tbody td:nth-child(1) {
    width: 300px;
    padding-left: 30px;
}

.table-fix tbody td:nth-child(2) {
    width: 150px;
}

.table-fix tbody td:nth-child(3) {
    padding-right: 30px;
    width: 250px;
}

.table-fix tfoot td:nth-child(1) {
    width: 200px;
}
.table-fix tfoot td:nth-child(2) {
    width: 100px;
}
.table-fix tfoot td:nth-child(3) {
    width: 150px;
}
.table-fix tfoot td:nth-child(4) {
    width: 250px;
    padding-right: 30px;
}

#order-list-view .caption {
    background: linear-gradient(147deg, #56ac7b 0%, #015c41 74%);
    color: #fff;
    border-radius: 7px 7px 0 0;
}