.list-table {
    /* margin: 40px auto; */
    /* max-width: 600px; */
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 70px));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.table-container {
    width: 100%;
    height: calc(100vh - 120px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.table-card {
    cursor: pointer;
    color: white;
    height: 100%;
    border-radius: 10px;
    position: relative;
    min-height: 70px;
    box-shadow: 5px 5px 8px rgba(34, 35, 58, 0.2);
    transition: all .3s;
}

.table-card.empty {
    background-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%);
}

.table-card.fill {
    background-image: linear-gradient(147deg, #ff852d 0%, #fd3838 74%);
}

.table-fix {
    table-layout: fixed;
}

.table-fix thead {
    display: block;
    width: 100%;
    border-bottom: 2px solid;
    border-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%) 1;
}

.table-fix tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 25.5rem);
}

.table-fix tfoot {
    display: block;
    width: 100%;
    border-top: 2px solid;
    border-image: linear-gradient(147deg, #56ac7b 0%, #015c41 74%) 1;
}

.table-fix tfoot td {
    border: none;
}

.table-fix td {
    padding: 10px 5px;
}

.table-fix tbody td:nth-child(1) {
    width: 300px;
    padding-left: 30px;
}

.table-fix tbody td:nth-child(2) {
    width: 150px;
}

.table-fix tbody td:nth-child(3) {
    padding-right: 30px;
    width: 250px;
}

.table-fix tfoot td:nth-child(1) {
    width: 200px;
}
.table-fix tfoot td:nth-child(2) {
    width: 100px;
}
.table-fix tfoot td:nth-child(3) {
    width: 150px;
}
.table-fix tfoot td:nth-child(4) {
    width: 250px;
    padding-right: 30px;
}